*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";
//abbiamo importato lo stile della header
@import './partials/header';

@import './partials/Jumbotron';

@import './partials/books';


@import './partials/SectionBlue';

@import './partials/footer';
@import './partials/sectionLink';
@import './partials/partialsFumetto/sectionBlueFumetto.scss';
@import './partials/partialsFumetto/details.scss';
@import './partials/partialsFumetto/SectionSpec.scss';