@use '../variables/variables' as *;
#Fumetti{
    background-color: $sfondoScuro;
    
        .container{
            position: relative;
            padding: 50px 0 ;
         h2{
        position: absolute;
        top: -30px;
        left: 0;
        color: white;
        background-color: $blue_text;
        text-transform: uppercase;
        padding: 15px 30px;
        
        margin-bottom: 0;
    }   
         .contenitore{
        display: flex;
        flex-wrap: wrap;
        gap:  50px 20px;
        #card{
        width: calc(100% / 6 - 20px * 6 / 5 );
        // height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        img{
            width: 100%;
            height: 100%;
            margin-bottom: 12px;
        }
        a{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
        }
    }
    }
    #button{
        display: flex;
        justify-content: center;
        margin: 68px 0 20px;
        button{
            text-transform: uppercase;
            color: white;
            background-color: $blue_text;
            border: 0;
            font-size: 18px;
            font-weight: 600;
            padding: 12px 48px;

        }
    }




}    
   
    
}